<div>
  <%= form_for @user, url: "/home/update/#{@user.id}", method: :post do |f| %>
    <div>
      <%= f.label :username %>
      <%= f.text_field :username %>
    </div>
    <%= f.submit '決定' %>
  <% end %>
</div>