<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>
<% if current_user %>
<h3>名前</h3>
<p><%=current_user.username%></p>
<h3>email</h3>
<p><%=current_user.email%></p>
<h3>総合ポイント</h3>
<p><%=current_user.user_gain_point%>点</p>
<%=link_to "編集する", "/home/edit/#{current_user.id}"%>
<% else %>
<p>ログインまたはサインインをする</p>
<% end %>

