<h3>チーム<%=@show_team_id%>メンバー</h3>
  <% @my_team_members.each do |m| %>
  <ul class="list-group mb-3">
    <% unless m.admin %>
      <li class="list-group-item list-group-item-primary"><%=m.username%></li>
      <li class="list-group-item">獲得ポイント数:<%=m.term_point%></li>
      <li class="list-group-item">終わったタスク数:<%=m.total_done_task%></li>
    <% end %>
    </ul>
  <% end %>