<h1>Team#team_rank</h1>
<p>Find me in app/views/team/team_rank.html.erb</p>
<p>ランキング</p>
<% index = 1 %>
<% @team_order.each do |team|%>
<h1><%=index%>位</h1>
<p><%=link_to "team#{team.id}","/team/#{team.id}/member"%></p>
<p><%=team.team_total_point%>points</p>
<% index += 1 %>
<% end %>