<h3>ランキング</h3>

  <% index = 1 %>
  <% @team_order.each do |team|%>
  <ul class="list-group mb-3">
    <li class="list-group-item list-group-item-dark"><%=index%>位</li>
    <li class="list-group-item"><%=link_to "team#{team.id}","/team/#{team.id}/member"%></li>
    <li class="list-group-item"><%=team.team_total_point%>points</li>
    <% index += 1 %>
    </ul>
  <% end %>
